{#
/**
 * @file
 * Template for Noble Sidebar First.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}

<div class="panel-display noble-sidebarfirst clearfix {% if classes %}{{ classes }}{% endif %}{% if class %}{{ class }}{% endif %}" {% if css_id %}{{ css_id }}{% endif %}>

  <div class="noble-sidebarfirst__sidebar">
    {{ content.sidebar }}
  </div>
  <div class="noble-sidebarfirst__content">
    {{ content.contentmain }}
  </div>

</div><!-- /.noble-sidebarfirst -->
