{#
/**
 * @file
 *
 * Default theme implementation for products.
 *
 * Available variables:
 * - content: Items for the content of the product.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - product: The product object.
 * - url: The product URL.
 *
 * @ingroup themeables
 */

#}
{{ attach_library('noble/product-details') }}
<article{{ attributes }}>
<div class="product-details__row">
  <div class="product-details__key-info">
      <div class="product-details__number">
        {{ product.variation_field_style_number }}
      </div>
      <h1 class="product-details__title">
        {{ product.title }}
      </h1>
      <div class="product-details__price">
        {{ product.variation_price }}
      </div>
      <div class="product-details__add-to-cart">
        {{ product.variations }}
      </div>
      <div class="product-details__size-chart">
        {{ product.product_size_chart }}
      </div>
      <div class="product-details__fit">
        {{ product.field_fit }} | {% trans %}Fit guide {% endtrans %}
      </div>
      <div class="product-details__fit-guide">
        {{ product.product_fit_guide }}
      </div>
    <div class="product-details__the-details">
      <h2 class="product-details__subtitle">{% trans %}Product Details{% endtrans %}</h2>
        {{ product.body }}
    </div>
    <div class="share-widget">
      <h3 class="share-widget__label">{% trans %}Share Product{% endtrans %}</h3>
      <div class="share-widget__actions">
        {{ product.product_share_this }}
      </div>
    </div>
  </div>

  <div class="product-details__media">
    <div class="product-details__media-buttons">
      {% if product.field_product_video.0 %}
      <a class="product-details__media-button js-product-details__media-button--video" href=""><span class="product-details__media-button__icon icon icon--small icon-play"></span><span class="product-details__media-button__text">Video</span></a>
      {% endif %}
      {% if product.field_product_lifestyle_images.0 %}
      <a class="product-details__media-button js-product-details__media-button--lifestyle" href="#"><span class="product-details__media-button__icon icon icon--small icon-grid"></span><span class="product-details__media-button__text">Lifestyle</span></a>
      {% endif %}
      {% if product.product_rating %}
      <a class="product-details__media-button js-product-details__media-button--rating colorbox" href="{{ product.product_rating.url}}">{{ product.product_rating.label }}</a>
      {% endif %}
      {%  if product.variation_field_reverse_image.0 %}
      <a class="product-details__media-button js-product-details__media-button--images-reverse" data-current-view="front" href=""><span class="product-details__media-button__icon icon icon--small icon-forward"></span><span class="product-details__media-button__text">Back View</span></a>
      {% endif %}
      {%  if product.product_360_iframe.url %}
      <a class="product-details__media-button js-product-details__media-button--images-360" href="{{ product.product_360_iframe.url }}"><span class="product-details__media-button__icon icon icon--small icon-refresh"></span><span class="product-details__media-button__text">360° View</span></a>
      {% endif %}
    </div>
    <div class="js-product-details__images-reverse">
      <div class="js-product-details__images-front">
        {{ product.variation_field_front_image }}
      </div>
      <div class="js-product-details__images-back hidden">
        {{ product.variation_field_reverse_image }}
      </div>
    </div>
    <div class="js-product-details__images-others hidden">
      {{ product.variation_field_images }}
    </div>
    <div class="js-product-details__images">
      {{ product.field_product_images }}
    </div>

    <div class="js-product-details__video hidden">
      {{ product.field_product_video.0 }}
    </div>
    <div class="js-product-details__images-lifestyle hidden">
      {{ product.field_product_lifestyle_images }}
    </div>
  </div>
</div>


  <div class="product-details__row-title-wrapper"><h2 class="product-details__row-title">{% trans %}Product Features {% endtrans %}</h2></div>
  <div class="product-details__listing">
    {{ product.field_features_elements }}
    {{ product.field_features_hood_collar_pocke }}
    {{ product.field_features_pattern_design_lo }}
    {{ product.field_features_reinforcement_con }}
    {{ product.field_features_weatherproof_tech }}
  </div>

  {#{{ product }}#}
</article>
