{#
/**
 * @file
 *
 * Default theme implementation for products.
 *
 * Available variables:
 * - content: Items for the content of the product.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - product: The product object.
 * - url: The product URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('noble/product-teaser') }}
<article{{ attributes.addClass('product-teaser') }}>
  <div class="product-teaser__images">
    <div class="product-teaser__images__front">
      {{ product.field_product_images }}
    </div>
  </div>
  <h2 class="product-teaser__title">{{ product.title }}</h2>
  <div class="product-teaser__price">{{ product.variation_price }}</div>
  <div class="product-teaser__colors">{{ product.variations }}</div>
</article>
